/* General page styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url('pic_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Container styling */
.container {
    background-color: rgba(72, 87, 80, 0.514); /* Semi-transparent background */
    border-radius: 10px;                      /* Rounded corners */
    padding: 20px;                            /* Padding inside the container */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */

    max-width: 600px; /* Maximum width of the container */
    width: 100%;      /* Full width up to the max-width */
    margin: auto;     /* Center the container horizontally */
}


/* Heading styles */
h1 {
    color: #040302;
    text-align: center;
    margin-bottom: 20px;
    font-style: oblique;
    opacity: 0.9;
}


/* Form labels and inputs */
.form-label {
    color: #fff; /* Set text color to white */
    font-weight: bold; /* Make the text bold */
}


.form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
}

/* Buttons */
.btn-primary {
    background-color: rgba(92, 156, 7, 0.885);
    border-color: #010406;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    background-color: rgba(108, 117, 125, 0.9);
    border-color: #010406;
    color: #fff;
}

.btn-secondary:hover {
    background-color: rgba(73, 80, 87, 0.9);
    border-color: #545b62;
}
